/* Sidebar/Default */

.sidebar {
    position: absolute;
    width: 240px;
    height: 2730px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;

    background: #091336;
}
.menu{
    width: 240px;
    height: 963px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    left: 12px;
    right: 119px;
    top: 20px;
    bottom: 32px;
}

.listMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 240px;
    height: 520px;
    left: 0px;
    top: 80px;
}

.icon {
    margin: 15px;
    fill: #ffffff;
    fill-opacity: 0.56;
}

.icon:hover {
    margin: 15px;
    fill: #ffffff;
    fill-opacity: 1;
}

.div {
    display: flex;
    justify-content:flex-start;
    align-items: center;

    width: 170px;
    height: 20px;
}

.check {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 170px;
    height: 20px;
}

.check:after {
    content: '';
    background: #FFD500;
    box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 12px;
    margin-left: 2px;
    
}